/* Основная структура */
/* Шрифты: 
Описание:  "Zalando Sans Expanded", sans-serif;
Логотипы 02: "Stalinist One", sans-serif; 
Шрифт для 01: "Big Shoulders", sans-serif;
*/

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-shadow: 0 0 3px #ffffff;
}
a.login {
  color: black;
  font-weight: 600;
}

body {
  background-image: url("media/photos/background-square-color-correction.png");
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  margin: 0;
  font-family: "Zalando Sans Expanded", sans-serif;
}

main {
  padding: 4.1%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 22px;
  font-size: 10px;
}

header {
  width: 77%;
  min-height: 85px;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(20px) saturate(150%);
  -webkit-backdrop-filter: blur(20px) saturate(150%); /* Для Safari */
  background-color: rgba(123, 123, 123, 0.508);
}

.header-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
  gap: 75px;
}

.logo {
  color: white;
  font-family: "Stalinist One", sans-serif;
  min-width: 50px;
  min-height: 50px;
  font-size: 25px;
  display: flex;
  text-shadow: 0 0 15px #ffffff;
}

.logo p {
  display: block;
}

.logo-r {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
}

.header-links ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 55px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-right {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 40px;
  gap: 55px;
  min-width: 150px;
  min-height: 50px;
  font-family: "Zalando Sans Expanded", sans-serif;
}

.labels {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 10px;
}

.labels img {
  height: 22px;
}

.label-right {
  display: block;
  font-weight: lighter;
}

.header-title {
  font-size: 7.7px;
  letter-spacing: 1px;
  min-width: 50px;
  min-height: 50px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-title-h {
  text-align: end;
  display: block;
}

.header-title-p {
  color: rgb(211, 211, 211);
  text-align: right;
  display: block;
}

.content {
  overflow: hidden;
  width: 77%;
  min-height: 785px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(210, 210, 210, 0.514);
  backdrop-filter: blur(20px) saturate(150%);
  -webkit-backdrop-filter: blur(20px) saturate(150%); /* Для Safari */
}

.content-header {
  margin-top: 35px;
  margin-left: 40px;
  min-width: 250px;
  min-height: 150px;
  gap: 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content-header .logo {
  display: flex;
  align-items: start;
  margin-right: 150px;
}

.content-header .logo p {
  margin: 0;
  padding: 0;
  display: block;
}

.content-logo {
  min-width: 50px;
  min-height: 50px;
}

.content-review {
  min-width: 250px;
  min-height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 90px;
}

.number {
  margin: 0;
  margin-top: -15px;
  font-family: "Big Shoulders", sans-serif;
  font-size: 135px;
  font-weight: 600;
}

.content-review-p {
  font-family: "Zalando Sans Expanded", sans-serif;
  font-size: 8px;
  font-weight: 600;
  width: 130px;
}

.login {
  margin-right: 38px;
  display: flex;
  gap: 5px;
}

.login-button {
  min-width: 100px;
  min-height: 50px;
  background-color: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  min-width: 50px;
  min-height: 50px;
  border-radius: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu p {
  font-family: sans-serif;
  font-weight: 100;
  width: 70%;
  height: 70%;
  margin: 0;
  padding: 0;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  font-size: 20px;
  line-height: 1;
}
.content-main {
  min-width: 150px;
  min-height: 300px;
  display: flex;
  justify-content: flex-end;
  gap: 22px;
}

.mini-card {
  position: relative;
  min-width: 150px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* .card-container {
} */

.mini-photo {
  position: relative;
}

.mini-photo img {
  display: block;
  border-radius: 32px;
}

.mini-photo-h-p-container {
  position: absolute;
  top: 25px;
  left: 22px;
  color: white;
}

.mini-photo-h {
  font-size: 25px;
  margin: 0;
  margin-bottom: 10px;
  letter-spacing: 3px;
  font-weight: 500;
}

.mini-photo-p {
  font-weight: 500;
  margin: 0;
}

.mini-photo-zoom {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 13px;
  border: none;
  background-color: #1e1d1d;
  border-radius: 50px;
}

.mini-photo-zoom img {
  width: 30px;
  height: auto;
  filter: invert();
}

.refresh {
  padding: 5px;
  padding-left: 6px;
  padding-right: 10px;
  display: flex;
  background-color: rgba(217, 217, 217, 0.644);
  justify-content: space-between;
  border-radius: 50px;
}

.refresh-left {
  display: flex;
  align-items: center;
  gap: 5px;
}

.refresh-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 5px;
  border-radius: 50px;
  width: 20px;
}

.refresh-logo img {
  width: 20px;
  height: 20px;
}

.refresh-text {
  display: block;
  font-weight: 600;
}

.refresh-right {
  margin-right: 2px;
}

.moonish {
  color: rgb(120, 120, 120);
  font-weight: 500;
  letter-spacing: 0, 5px;
}

.big-card {
  min-width: 150px;
  min-height: 50px;
  position: relative;
}

.big-photo img {
  display: block;
  border-radius: 38px 0px 38px 38px;
  height: 550px;
}

.big-photo-h-p-concainer {
  position: absolute;
  top: 26px;
  left: 35px;
  color: white;
}

.big-photo-h {
  font-size: 26px;
  margin-bottom: 5px;
  font-weight: 500;
}

.big-photo-p {
  font-size: 9px;
  font-weight: 500;
  letter-spacing: 1px;
}

.big-photo-info {
  position: absolute;
  justify-content: space-around;
  top: 165px;
  left: 150px;
  width: 200px;
  height: 50px;
  color: white;
  display: flex;
  align-items: center;
  z-index: 10; /* Чтобы текст был точно сверху */
}

.big-photo-info-main {
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.326);
  padding: 10px;
  border-radius: 50px;
  width: 130px;
}

.big-photo-info-main-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.big-photo-info-main-h {
  display: block;
}

.big-photo-info-main-p {
  display: block;
  color: rgb(211, 211, 211);
}

.big-photo-info-main-price {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.big-photo-info-button {
  background-color: rgba(0, 0, 0, 0.326);
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.326);
  border-radius: 50px;
  font-size: 38px;
  width: 46px;
}

.add-to-cart-container {
  position: absolute;
  bottom: 40px;
  right: 40px;
  display: flex;
  gap: 10px;
  font-size: 11px;
}

.add-to-cart-main {
  background-color: #1e1d1d;
  color: white;
  display: block;
  padding: 20px;
  border-radius: 50px;
}

.add-to-cart-button {
  background-color: #1e1d1d;
  color: white;
  display: flex;
  padding: 15px;
  width: 25px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

footer {
  width: 77%;
  min-height: 165px;
  border-radius: 100px;
  backdrop-filter: blur(20px) saturate(150%);
  -webkit-backdrop-filter: blur(20px) saturate(150%); /* Для Safari */
  background-color: rgba(123, 123, 123, 0.508);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: "Zalando Sans Expanded", sans-serif;
}

footer div {
  display: block;
}

.footer-photo {
  position: relative;
  margin-left: 10px;
}

.footer-photo img {
  width: 145px;
  border-radius: 100px;
}

.footer-zoom {
  position: absolute;
  bottom: 5px;
  right: -27px;
  padding: 13px;
  border: none;
  background-color: #1e1d1d;
  border-radius: 50px;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-zoom img {
  width: 30px;
  height: auto;
  filter: invert();
}

.footer-info-container {
  font-size: 31px;
  margin-left: 20px;
}

.footer-info-container div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-info-top-container {
  display: flex;
}

.footer-info-top {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-info-top-c {
  font-size: 28px;
  margin-left: 1px;
  padding: 0;
  text-align: center;
}

/* .footer-info-bottom {
}

.footer-info-bottom-p {
} */

.footer-info-bottom img {
  width: 38px;
  height: auto;
}

.footer-links {
  color: white;
  font-size: 7.7px;
  letter-spacing: 1px;
  min-width: 50px;
  min-height: 50px;
  margin: 0;
  display: flex;
  gap: 50px;
  margin-bottom: 10px;
}

.footer-links-left {
  margin: 0;
  padding: 0;
  position: relative;
  right: 10px;
}

.footer-links-right {
  margin: 0;
  padding: 0;
}

.footer-button {
  width: 90px;
  height: 90px;
  border-radius: 50px;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 35px;
  margin-right: 100px;
  position: relative;
  left: 55px;
}

.footer-button img {
  width: 60px;
  height: auto;
}
