/* Основная структура */
/* Шрифты: 
Описание:  "Zalando Sans Expanded", sans-serif;
Логотипы 02: "Stalinist One", sans-serif; 
Шрифт для 01: "Big Shoulders", sans-serif;
*/

body {
  background-image: url("media/photos/background-square-color-correction.png");
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  margin: 0;
  font-family: "Zalando Sans Expanded", sans-serif;
}

main {
  padding: 4.1%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 22px;
  font-size: 10px;
}

header {
  width: 77%;
  min-height: 85px;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  backdrop-filter: blur(20px) saturate(150%);
  -webkit-backdrop-filter: blur(20px) saturate(150%); /* Для Safari */
  background-color: rgba(123, 123, 123, 0.508);
}

.header-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  font-family: "Stalinist One", sans-serif;
  min-width: 50px;
  min-height: 50px;
}

.header-links ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-right {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 150px;
  min-height: 50px;
  font-family: "Zalando Sans Expanded", sans-serif;
}

.labels {
  display: flex;
}

.labels img {
  width: 30px;
  height: 30px;
}

.header-title {
  min-width: 50px;
  min-height: 50px;
}

.header-title-h {
}

.header-title-p {
  color: rgb(179, 179, 179);
}

.content {
  overflow: hidden;
  width: 77%;
  min-height: 785px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(210, 210, 210, 0.514);
  backdrop-filter: blur(20px) saturate(150%);
  -webkit-backdrop-filter: blur(20px) saturate(150%); /* Для Safari */
}

.content-header {
  min-width: 250px;
  min-height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-logo {
  min-width: 50px;
  min-height: 50px;
}

.content-review {
  min-width: 250px;
  min-height: 200px;
  display: flex;
  justify-content: space-between;
}

.number {
  margin: 0;
  font-family: "Big Shoulders", sans-serif;
  font-size: 135px;
  font-weight: 300;
}

.content-review-p {
  font-family: "Zalando Sans Expanded", sans-serif;
  font-size: 8px;
  font-weight: 600;
  width: 90px;
}

.login {
  display: flex;
  gap: 5px;
}

.login-button {
  min-width: 150px;
  min-height: 50px;
  background-color: white;
}

.menu {
  min-width: 50px;
  min-height: 50px;
  background-color: white;
}

.content-main {
  min-width: 150px;
  min-height: 300px;
  display: flex;
  justify-content: flex-end;
  gap: 22px;
}

.mini-card {
  position: relative;
  min-width: 150px;
  min-height: 50px;
}

.card-container {
}

.mini-photo img {
  border-radius: 32px;
}

.mini-photo-h {
}

.mini-photo-p {
}

.mini-photo-zoom {
}

.refresh {
}

.refresh-left {
}

.refresh-logo {
}

.refresh-text {
}

.refresh-right {
}

.moonish {
}

.big-card {
  min-width: 150px;
  min-height: 50px;
  position: relative;
}

.big-photo img {
  display: block;
  border-radius: 38px 0px 38px 38px;
  height: 550px;
}

.big-photo-h-p-concainer {
  position: absolute;
  top: 20px;
  left: 20px;
}

.big-photo-h {
}

.big-photo-p {
}

.big-photo-info {
  position: absolute;
  top: 180px;
  left: 180px;
}

.big-photo-info-main {
}

.big-photo-info-main-text {
}

.big-photo-info-main-h {
}

.big-photo-info-main-p {
}

.big-photo-info-main-price {
}

.add-to-cart-container {
  position: absolute;
  bottom: 70px;
  right: 70px;
}

.add-to-cart {
}

.add-to-cart-main {
}

.add-to-cart-button {
}

footer {
  width: 77%;
  min-height: 165px;
  border-radius: 100px;
  backdrop-filter: blur(20px) saturate(150%);
  -webkit-backdrop-filter: blur(20px) saturate(150%); /* Для Safari */
  background-color: rgba(123, 123, 123, 0.508);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-photo {
}

.footer-photo img {
}

.footer-zoom {
}

.footer-info {
}

.footer-links {
}

.footer-button {
}
