/* Основная структура */

main {
  padding: 4.1%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 22px;
  font-size: 10px;
}

/* Шапка (Header) */
header {
  width: 77%;
  min-height: 85px;
  background-color: gray;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.header-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(95, 95, 95);
}

.logo {
  min-width: 50px;
  min-height: 50px;
  background-color: rgb(84, 84, 84);
}

.header-links ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: rgb(63, 63, 63);
}

.header-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 150px;
  min-height: 50px;
}

.labels {
  display: flex;
}

.labels img {
  width: 30px;
  height: 30px;
}

.header-title {
  min-width: 50px;
  min-height: 50px;
  background-color: rgb(68, 63, 63);
}

/* Основной контент */
.content {
  overflow: hidden;
  width: 77%;
  min-height: 785px;
  background-color: gray;
  border-radius: 50px;
}

/* Заголовок контента */
.content-header {
  min-width: 250px;
  min-height: 150px;
  background-color: rgb(82, 82, 82);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-logo {
  min-width: 50px;
  min-height: 50px;
  background-color: rgb(64, 64, 64);
}

.content-review {
  min-width: 250px;
  min-height: 200px;
  background-color: rgb(54, 54, 54);
  display: flex;
  justify-content: space-between;
}

.content-review-p {
  width: 90px;
}

.login {
  min-width: 150px;
  min-height: 50px;
  background-color: rgb(62, 62, 62);
}

.login-button {
}

.menu {
}

/* Главная часть контента */
.content-main {
  min-width: 150px;
  min-height: 300px;
  background-color: rgb(125, 25, 25);
  display: flex;
  justify-content: space-between;
}

/* Маленькая карточка */
.mini-card {
  min-width: 150px;
  min-height: 50px;
  background-color: rgb(82, 82, 82);
}

.mini-photo {
}

.mini-photo-h {
}

.mini-photo-p {
}

.mini-photo-zoom {
}

.refresh {
}

.refresh-left {
}

.refresh-logo {
}

.refresh-text {
}

.refresh-right {
}

.moonish {
}

/* Большая карточка */
.big-card {
  min-width: 150px;
  min-height: 50px;
  background-color: rgb(82, 82, 82);
}

.big-photo {
}

.big-photo-h {
}

.big-photo-p {
}

.big-photo-info {
}

.add-to-cart {
}

/* Подвал (Footer) */
footer {
  width: 77%;
  min-height: 165px;
  background-color: gray;
  border-radius: 100px;
}

.footer-photo {
}

/* Тег img внутри footer-photo, так как у него нет класса */
.footer-photo img {
}

.footer-zoom {
}

.footer-info {
}

.footer-links {
}

.footer-button {
}
